.detailedCardWrapper {
  position: relative;
  max-width: fit-content;
}

.detailedCard {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border: 1px gray solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 5px 5px gray;
  z-index: 11;
}

.detailedCard span:first-child {
  margin-top: 40px;
}

.detailedImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailedImg img {
  width: 50%;
  height: auto;
}

.detailedCardClose {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
  top: -11px;
  right: -9px;
  border: 1px solid gray;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 12;
}

.closeBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
