.form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 1px;
  text-align: left;
  font-size: small;
}

label select,
label input[type='checkbox'] {
  margin-left: 5px;
}

p {
  margin-top: 0;
  color: red;
  height: 16px;
  font-size: small;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  display: inline-block;
  width: fit-content;
}

input[type='file'] {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.label-inputFile {
  width: fit-content;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  border: 1px solid #ccc;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

input[type='submit']:hover {
  background-color: #45a049;
}
